.tag {
  margin: 4px;
  padding: 0.6rem;
  border-radius: 5px;
  max-width: fit-content;
}

.frontend {
  background-color: lightgray;
}

.backend {
  background-color: gray;
  color: #fafafa;
}

.gamedev {
  background-color: #bf8975;
  color: #fafafa;
}

.design {
  background-color: #ffb6b9;
}
